@import url("https://fonts.googleapis.com/css?family=Dosis|Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
}
.main_content {
  /* width: 100vw; */

  height: 100vh;
}

.section-one {
  background-image: url(/src/images/Kisumu_Sunset.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  height: 600px;
  padding: 0 100px;
  /* background-position: left top; */
}
.welcome-headers {
  /* margin: 0 100px; */
}

.welcome-headers h2 {
  padding: 100px 0 15px 0;
  font-weight: bolder;
  font-size: 3em;
}
.welcome-headers h3 {
  font-size: 2em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 7px;
  padding-bottom: 30px;
}

.welcome-headers h5 {
  font-size: 1.1em;
  font-weight: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2px;
}

.section-search-btn {
  display: flex;
  margin-top: 30px;
}

.section-dropdown {
  height: 60px;
}

.section-search-btn input {
  height: 60px;
  background: white;
  border: none;
  width: 300px;
  border-right: 0.5px solid rgba(128, 128, 128, 0.39);
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  padding-left: 5px;
}

.section-search-btn button {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  color: gray;
  width: 300px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 0px;
}
.section-search-btn button:hover {
  background-color: white;
  color: gray;
}

.section-search-btn button[type="submit"] {
  background: #f85959;
  width: 120px;
  color: white;
}

.commision-btns {
  border: none;
  margin: 70px 0;
}

.commision-btns button {
  margin-right: 10px;
  line-height: 2em;
  width: auto;
  border: none;
  color: gray;
  font-size: 0.9em;
  background: white;
  padding: 10px 15px;
  font-family: "Open Sans", sans-serif;
}

.commision-btns button:hover {
  background: #f85959;
}

.commision-btns button i {
  padding-right: 5px;
  font-size: 1.5em;
  color: rgb(133, 80, 231);
}

/*  SECTION TWO CONTAINER  */
.section-two-container {
  color: f8faff;
  /* height: 600px; */
  height: auto;
  padding: 0 100px;
  display: flex;
  background-color: rgba(72, 105, 105, 0.233);
  /* background-position: left top; */
}
.display-items-container {
  color: f8faff;
  /* height: 600px; */
  /* width: 100vw; */
  height: auto;
  /* padding: 0 100px; */
  padding-left: 15px;
  display: flex;
  width: 100%;
  background-color: rgba(72, 105, 105, 0.233);
  /* background-position: left top; */
}
.card-resize {
  padding: 0px;
}

.advert-card {
  display: inline-block;

  flex-wrap: wrap;
  background: white;
  border: none;
  margin-right: 20px;
  position: relative;
  border-radius: 4px;
  top: -45px;
  width: 250px;
  -webkit-box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
}

.display-card {
  background: white;
  border: none;
  margin: 50px 20px 50px 0px;
  position: relative;

  /* border: 1px solid gray; */
  border-radius: 4px;
  /* top: -45px; */
  width: 250px;
  -webkit-box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
}

.card-image {
  width: 250px;
  height: 180px;
  /* border: 1px solid black; */
}

.hotel-card-image {
  width: 250px;
  height: 220px;
  /* border: 1px solid black; */
}

/* PACKAGE RATINGS */

.rating {
  /*--transition-duration: 0.75s;*/
  display: flex;
  align-content: center;
  font-size: 1rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* background-color: transparent; */
}
.rating__star {
  background: rgb(58, 58, 58);

  position: relative;
  padding: 5px;
  opacity: 0.1;
  transition: opacity var(--transition-duration);
}
.rating__star .rating__star:hover,
.rating__star:hover ~ .rating__star {
  opacity: 1;
  transition: opacity var(--transition-duration);
  cursor: pointer;
}

/* Adverts cards responsive */
@media only screen and (max-width: 760px) {
  .advert-card {
    background-color: rgb(99, 131, 141);
    flex-wrap: wrap;
    flex-basis: auto;
  }
}

/* ..........Register...............*/
.registration {
  font-size: 24px;
  text-align: center;
  margin-top: 5px;
}
.form_button {
  width: 120px;
  text-align: center;
}
.contact_form {
  display: flex;
  justify-content: center;
}
.form_header {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}
i {
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.contact_phone {
  text-align: center;
}
.contact_email {
  text-align: center;
}
.contact_location {
  text-align: center;
}
.message_form {
  background-color: #F3F3F3;
}
.contact {
  margin-top:15px;
}
/* SLIDES */
.slider {
  overflow: hidden;
  position: relative;
  height: 100vh;
  color: #fff;
}
.slider__top-heading {
  z-index: 12;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: all 0.5s 1s;
  transform: translateY(-30px);
  opacity: 0;
}
.slider.s--ready .slider__top-heading {
  transform: translateY(0);
  opacity: 1;
}
.slider__slides {
  position: relative;
  height: 100%;
}
.slider__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.slider__slide.s--active {
  pointer-events: auto;
}
.slider__slide-content {
  z-index: 6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-transform: uppercase;
  line-height: 1;
}
.slider__slide-subheading {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 2px;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-subheading {
  transition-delay: 0.65s;
  opacity: 1;
  transform: translateY(0);
}
.slider__slide-heading {
  display: flex;
  margin-bottom: 20px;
  font-size: 60px;
  letter-spacing: 12px;
}
.slider__slide-heading span {
  display: block;
  opacity: 0;
  transform: translateY(-60px);
  transition: all 0.3333333333s;
}
.slider__slide.s--prev .slider__slide-heading span {
  transform: translateY(60px);
}
.slider__slide.s--active .slider__slide-heading span {
  opacity: 1;
  transform: translateY(0);
}
.slider__slide-heading span:nth-child(1) {
  transition-delay: 0s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(1) {
  transition-delay: 0.3333333333s;
}
.slider__slide-heading span:nth-child(2) {
  transition-delay: 0.1s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(2) {
  transition-delay: 0.4333333333s;
}
.slider__slide-heading span:nth-child(3) {
  transition-delay: 0.2s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(3) {
  transition-delay: 0.5333333333s;
}
.slider__slide-heading span:nth-child(4) {
  transition-delay: 0.3s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(4) {
  transition-delay: 0.6333333333s;
}
.slider__slide-heading span:nth-child(5) {
  transition-delay: 0.4s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(5) {
  transition-delay: 0.7333333333s;
}
.slider__slide-heading span:nth-child(6) {
  transition-delay: 0.5s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(6) {
  transition-delay: 0.8333333333s;
}
.slider__slide-heading span:nth-child(n + 7) {
  transition-delay: 0.6s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(n + 7) {
  transition-delay: 0.9333333333s;
}
.slider__slide-readmore {
  position: relative;
  font-size: 14px;
  text-transform: lowercase;
  backface-visibility: hidden;
  transform: translateY(-20px);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-readmore {
  transition-delay: 0.65s;
  opacity: 1;
  transform: translateY(0);
}
.slider__slide-readmore:before {
  content: "";
  position: absolute;
  left: -2px;
  top: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 6px);
  background: rgba(255, 255, 255, 0.4);
  transform: scaleX(0.3);
  transform-origin: 0 50%;
  transition: transform 0.3s;
}
.slider__slide-readmore:hover:before {
  transform: scaleX(1);
}
.slider__slide-parts {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.slider__slide-parts:after {
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.slider__slide-part {
  position: relative;
  width: 25%;
  height: 100%;
}
.slider__slide-part-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 0 0;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
}
.slider__slide-part-inner:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  transition: opacity 0.25s;
  opacity: 0;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner {
  z-index: 3;
  transition-delay: 0.24s;
  transform: translateX(-32.5%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(1)
  .slider__slide-part-inner {
  transition-delay: 0.28s;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  left: 0vw;
  transition-delay: 0.365s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(1)
  .slider__slide-part-inner:before {
  transition-delay: 0.28s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner {
  z-index: 2;
  transition-delay: 0.16s;
  transform: translateX(-65%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(2)
  .slider__slide-part-inner {
  transition-delay: 0.36s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner:before {
  left: -25vw;
  transition-delay: 0.285s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(2)
  .slider__slide-part-inner:before {
  transition-delay: 0.36s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner {
  z-index: 1;
  transition-delay: 0.08s;
  transform: translateX(-97.5%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(3)
  .slider__slide-part-inner {
  transition-delay: 0.44s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner:before {
  left: -50vw;
  transition-delay: 0.205s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(3)
  .slider__slide-part-inner:before {
  transition-delay: 0.44s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner {
  z-index: 0;
  transition-delay: 0s;
  transform: translateX(-130%);
}
.slider__slide.s--active
  .slider__slide-part:nth-child(4)
  .slider__slide-part-inner {
  transition-delay: 0.52s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
  left: -75vw;
  transition-delay: 0.125s;
}
.slider__slide.s--active
  .slider__slide-part:nth-child(4)
  .slider__slide-part-inner:before {
  transition-delay: 0.52s;
}
.slider__slide.s--active .slider__slide-part-inner {
  transform: translateX(0);
  transition-timing-function: ease;
}
.slider__slide.s--active .slider__slide-part-inner:before {
  opacity: 1;
}
.slider__control {
  z-index: 100;
  position: absolute;
  left: 50px;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: translateX(-50px);
  opacity: 0;
  transition: all 0.5s 1s;
  cursor: pointer;
}
.slider__control:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border: 2px solid #000;
  border-bottom: none;
  border-right: none;
  transform: translateX(5px) rotate(-45deg);
}
.slider__control--right {
  left: auto;
  right: 50px;
  transform: translateX(50px);
}
.slider__control--right:before {
  transform: translateX(-5px) rotate(135deg);
}
.slider.s--ready .slider__control {
  transform: translateX(0);
  opacity: 1;
}
.icon-link {
  z-index: 100;
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}

/* PACKAGE EXCLUSIVES */
.overall-package-container {
  padding: 0 50px;
  background: white;
}
.overall-package-container h4 {
  text-align: center;
  padding: 20px;
  -webkit-box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
  /* margin: 50px; */
}
.overall-package-container p {
  text-align: left;
}
.overall-package-container h5 {
  text-align: center;
}

.package-container {
  display: flex;
  margin: 15px 0px;
  -webkit-box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 38px -13px rgba(0, 0, 0, 0.75);
}

.package-container img {
  width: 300px;
  height: 130px;
}

.login {
  width: 60%;
  border-radius: solid 3px;
  background-color: white;
}    
