#app {
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

/* ..........Register...............*/
.registration {
  font-size: 24px;
  text-align: center;
  margin-top: 5px;
}
.form_button {
  width: 120px;
  text-align: center;
}